In [1]:
import sys
import os
import json
import pandas
import numpy
import optparse
from keras.callbacks import TensorBoard
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
from keras.preprocessing.text import Tokenizer
from collections import OrderedDict
import json

Using TensorFlow backend.

In [43]:
csv_file = 'data/dev-access.csv'

In [44]:
dataframe = pandas.read_csv(csv_file, engine='python', quotechar='|', header=None)
count_frame = dataframe.groupby([1]).count()
print(count_frame)
total_req = count_frame[0][0] + count_frame[0][1]
num_malicious = count_frame[0][1]

print("Malicious request logs in dataset: {:0.2f}%".format(float(num_malicious) / total_req * 100))

       0
1
0  13413
1  13360
Malicious request logs in dataset: 49.90%

In [45]:
dataset = dataframe.sample(frac=1).values

In [46]:
dataframe.head()

                                                   0  1
0  {"timestamp":1502738402847,"method":"post","qu...  0
1  {"timestamp":1502738402849,"method":"post","qu...  0
2  {"timestamp":1502738402852,"method":"post","qu...  0
3  {"timestamp":1502738402852,"method":"post","qu...  0
4  {"timestamp":1502738402853,"method":"post","qu...  0

In [47]:
for i in range(len(dataframe[0])):
    dataframe[0][i] = dict(json.loads(dataframe[0][i]))
    if i%1000 == 0:
        print(i, end=", ")

/home/xprilion/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000, 16000, 17000, 18000, 19000, 20000, 21000, 22000, 23000, 24000, 25000, 26000,

In [48]:
# dataframe.apply(lambda x: json.loads(str(x)), axis=1)

In [49]:
dataframe.head()

                                                   0  1
0  {'timestamp': 1502738402847, 'method': 'post',...  0
1  {'timestamp': 1502738402849, 'method': 'post',...  0
2  {'timestamp': 1502738402852, 'method': 'post',...  0
3  {'timestamp': 1502738402852, 'method': 'post',...  0
4  {'timestamp': 1502738402853, 'method': 'post',...  0

In [50]:
dataframe.loc[344][0]

{'timestamp': 1502738402854,
 'method': 'post',
 'query': {},
 'path': '/login',
 'statusCode': 200,
 'source': {'remoteAddress': '140.211.16.52',
  'referer': 'http://localhost:8002/enter'},
 'route': '/login',
 'headers': {'host': 'localhost:8002',
  'accept-language': 'en-us',
  'accept-encoding': 'gzip, deflate',
  'connection': 'keep-alive',
  'accept': '*/*',
  'referer': 'http://localhost:8002/enter',
  'cache-control': 'no-cache',
  'x-requested-with': 'XMLHttpRequest',
  'content-type': 'application/json',
  'content-length': '52'},
 'requestPayload': {'username': 'Herb2', 'password': 'pizzaloaflasdf0v32'},
 'responsePayload': 'LOGIN'}

In [51]:
datarows = []

In [52]:
for i in range(len(dataframe[0])):
    frame = dataframe[0][i]
    res = dataframe[1][i]
    
    method = frame['method']
    path = frame['path']
    query = frame['query']
    if len(query) > 0:
        query = query['query']
    statusCode = frame['statusCode']
    source = frame['source']['remoteAddress']
    route = frame['route']
    referer = ""
    if "referer" in frame['source'].keys():
        referer = frame['source']['referer']
    response = frame['responsePayload']
    error = ""
    msg = ""
    if(type(response) == type("hello")):
        msg = response
    else:
        if "error" in response.keys():
            error = response['error']
        msg = response['message']
    
    datarows.append([method, path, query, statusCode, source, referer, route, error, msg, res])

In [56]:
with open("data/data.csv", "w", newline="") as f:
    for i in range(len(datarows)):
        f.write(",".join(map(str, datarows[i])))
        f.write("\n")